

<%= form_with(model: task, url: tasks_path, local: true) do |form| %>

  <% if task.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h4>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 

<div style="width: 80%;">
  <div>
    <%= form.label :Title, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control form-control' %>
  </div>

   <div>
    <%= form.label :Description, class: 'form-label' %>
    <%= form.text_field :description, class: 'form-control form-control' %>
  </div>

  <div>
    <%= form.label :assignee_id, class: 'form-label' %>
    <%= form.collection_select :assignee_id,@current_organization.users, :id, :name, { prompt: true }, { class: 'form-control form-control-sm' }  %>
  </div>

  <div>
    <%= form.label :approver_id, class: 'form-label' %>
    <%= form.collection_select :approver_id, @current_organization.users, :id, :name, { prompt: true }, { class: 'form-control form-control-sm' } %>
  </div>  

  <div>
    <%= form.label :start_date, class: 'form-label' %>
    <%= form.date_field :start_date, {class: 'form-control form-control'} %>
  </div>

  <div>
    <%= form.label :end_date, class: 'form-label' %>
    <%= form.date_field :end_date, {class: 'form-control form-control'} %>
  </div>
  
  <div>
    <%= form.check_box :repeat_task, {class: 'class="form-check-input', id: 'show_recurring' }%>
    <%= form.label :reapeat_task, class: 'form-check-label' %>
  </div>

  <div  id='card_details' style="display: none;">
    <div>
      <%= form.label :frequency, class: 'form-label' %>
      <%= form.select :frequency,['daily', 'weekly','monthly','yearly'], {prompt: true},{class: 'form-control form-control-sm'} %>
    </div>  

    <div>
      <%= form.label :due_date, class: 'form-label' %>
      <%= form.date_field :due_date, {class: 'form-control form-control'} %>
    </div>
  </div>

  <div><br>
    <%= form.submit %>
  </div>
</div>
<% end %>

<script type="text/javascript">
  var checkbox = document.getElementById('show_recurring');
  var details_div = document.getElementById('card_details');
  checkbox.addEventListener('change', function() {
    if (this.checked) {
      details_div.style.display = 'block';
    } else {
      details_div.style.display = 'none';
    }
  });
</script>
