
<html oncontextmenu="return false">
<%= form_with(model: task, local: true) do |form| %>

  <% if task.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h4>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 


  <div class="mb-3">
    <%= form.label :Title, class: 'form-label' %>
    <%= form.text_field :name,disabled: !current_user.organization_admin?,id: 'txt', class: 'form-control form-control' %>
  </div>

   <div class="mb-3">
    <%= form.label :Description, class: 'form-label' %>
    <%= form.text_field :description,disabled: !current_user.organization_admin?,id: 'txt', class: 'form-control form-control' %>
     <%# <%= form.label :description, @task.description %>
  </div>

  <% if current_user.organization_admin? %>

  <div class="mb-3">
    <%= form.label :assignee_id, class: 'form-label' %>
    <%= form.collection_select :assignee_id,@current_organization.users, :id, :name, { prompt: true }, { class: 'form-control form-control-sm' }  %>
  </div>

  <div class="mb-3">
    <%= form.label :approver_id, class: 'form-label' %>
    <%= form.collection_select :approver_id, @current_organization.users, :id, :name, { prompt: true }, { class: 'form-control form-control-sm' } %>
  </div>  

  <div class="mb-3">
    <%= form.label :start_date, class: 'form-label' %>
    <%= form.date_field :start_date, {class: 'form-control form-control'} %>
  </div>

  <div class="mb-3">
    <%= form.label :end_date, class: 'form-label' %>
    <%= form.date_field :end_date, {class: 'form-control form-control'} %>
  </div>
  
  <div  class="mb-3 form-check">
    <%= form.check_box :repeat_task, {class: 'class="form-check-input', id: 'mycheckbox' }%>
    <%= form.label :reapeat_task, class: 'form-check-label' %>
  </div>

  <div   id='mycheckboxdiv' style="display: none;">
    <div class="mb-3">
      <%= form.label :frequency, class: 'form-label' %>
      <%= form.select :frequency,['daily', 'weekly','monthly','yearly'], {prompt: true},{class: 'form-control form-control-sm'} %>
    </div>  

    <div class="mb-3">
      <%= form.label :due_date, class: 'form-label' %>
      <%= form.date_field :due_date, {class: 'form-control form-control', min: Date.current} %>
    </div>
  </div>

  <% end %>

  <div class="mb-3">
    <%= form.label :status, class: 'form-label'%>
    <% if @status_options.present? %>
      <%= form.select :status, options_for_select(@status_options), {prompt: true}, {class: 'form-select'} %>
    <% else %>  
     <h3><%=form.text_field :status, class: 'form-control',  disabled: true%></h3>
    <% end %>
  </div><br>

  <div class="mb-3">
    <%= form.submit %>
  </div>
<% end %>
</html>

<script>
  document.addEventListener('contextmenu', event => event.preventDefault()); 
</script>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    var mycheckbox = document.getElementById('mycheckbox');
    var mycheckboxdiv = document.getElementById('mycheckboxdiv');
    function toggleDivVisibility() {
      mycheckboxdiv.style.display = mycheckbox.checked ? 'block' : 'none';
    }
    mycheckbox.addEventListener('change', toggleDivVisibility);
    toggleDivVisibility();
  });
</script>